<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		
		<style type="text/css">
			body, html {
				font-family: sans-serif;
				padding: 0px;
				margin: 0px;
				width: 100%;
				height: 100%;
			}

			#header {
				margin: 20px;
			}

			#toc {
				position: fixed;
				left: 0px;
				top: 120px;
				width: 250px;
				z-index: 2;
			}

			#toc ul {
				list-style: none;
				margin: 20px;
				padding: 0px;
			}

			#toc ul>li {
				padding: 0px;
				margin: 3px;
				display: inline-block;
			}

			#toc ul>li>a {
				font-size: 0.8em;
				background-color: #222;
				color: #fff;
				padding: 3px;
				margin: 3px;
				border-radius: 3px;
				text-decoration: none;
			}

			#toc ul>li>a:hover {
				background-color: #444;
				color: #fff;
			}

			#content {
				border-top: 1px solid #ddd;
				border-left: 250px solid #ddd;

			}

			.block {
				margin: 20px;
			}

			#content code {
				display: block;
				background-color: #eee;
				margin: 20px;
				padding: 10px;
			}

		</style>

	</head>
	<body id="{{section}}">
		<div id="header">
			{{header}}
			{{description}}
		</div>
		<div id="toc">
			{{toc}}
		</div>
		<div id="content">
			{{content}}
		</div>
	</body>
</html>